[Desktop Entry]
Type=Application
Exec=/usr/bin/xmodmap {{ user_home }}/.Xmodmap
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=Start Xmodmap
Comment[en_US]=Start Xmodmap with ~/.Xmodmap config
X-GNOME-Autostart-Delay=2
