[Desktop Entry]
Version=1.0
Name=mGBA
Comment=Emulate Gameboy Games
GenericName=Gameboy
Keywords=Games
Exec=mgba-qt
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/mgba.png
