[Desktop Entry]
Type=Application
Exec=/usr/bin/redshift-gtk -c {{ user_home }}/.config/redshift.conf
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Redshift
Comment=Start Redshift with Custom Settings
