---
- name: Install vim - MacOS
  when: ansible_facts.distribution == "MacOSX"
  homebrew:
    name: macvim
    state: present
    update_homebrew: yes

- name: Install vim - All Ubuntu's
  when: ansible_facts.system in ["Linux"]
  become: yes
  become_method: sudo
  with_items:
    - curl
    - vim-X11
  package:
    name: "{{ item }}"
    state: latest

- name: Symlink vim Config Files
  file:
    src: "{{ role_path }}/files"
    dest: "{{ ansible_facts.user_dir }}/.vim"
    owner: "{{ ansible_facts.user_id }}"
    group: " {{ ansible_facts.user_gid }}"
    state: link

- name: Install vim Plugins
  command: vim +'PlugInstall --sync' +qa
